.15_502 {
	overflow: hidden;
}

.header{
	display: flex;
	align-items: center;
	padding: 0;
    margin: 0;
    font: inherit;
    vertical-align: baseline;
    border: 0;
}
/* Style for the navigation menu */
.navigation-menu {
    display: flex;
    justify-content: space-around;
    background-color: #f0f0f0;
    padding: 15px;
}
.navigation {
	width: 538px;
	height: 40px;
	position: absolute;
	left: 371px;
	top: 52px;
}

/* Style for each menu item */
.navigation-menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

/* Hover effect */
.navigation-menu a:hover {
    background-color: #ddd;
}

body {
    display: flex;
    justify-content: center; /* Horizontally center aligns the content */
    align-items: center; /* Vertically center aligns the content */
    margin: 0 auto;
    padding: 0;
	width: 1280px;
}
.content {
    max-width: 1800px; /* Adjust the maximum width of the container */
    width: 100%; /* Ensures it takes up the available space */
}

.main {
	background-color: rgba(255, 255, 255, 1);
	width: 1280px;
	height: 3946px;
	position: absolute;
	left: 0px;
	top: 0px;
	justify-content: center; /* Horizontally center aligns the content */
    align-items: center; 
	display: flex;
}

.content {
	width: 1280px;
}

.e6_207 {
	border-radius: 500px;
	background-image: linear-gradient(0deg, rgba(148, 164, 255, 0.907) 0%, #ffffff 100%);
	width: 536px;
	height: 536px;
	position: absolute;
	left: 372px;
	top: 150px;
}

.e6_209 {
	color: rgba(0, 0, 0, 1);
	width: 55.06183624267578px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Inter;
	text-align: center;
	font-size: 12px;
	letter-spacing: 0;
}

.e6_210 {
	color: rgba(0, 0, 0, 1);
	width: 33.26652526855469px;
	height: 40px;
	position: absolute;
	left: 114.71214294433594px;
	top: 1.4210854715202004e-14px;
	font-family: Inter;
	text-align: center;
	font-size: 12px;
	letter-spacing: 0;
}

.e6_211 {
	color: rgba(0, 0, 0, 1);
	width: 53.914710998535156px;
	height: 40px;
	position: absolute;
	left: 207.6289825439453px;
	top: 1.4210854715202004e-14px;
	font-family: Inter;
	text-align: center;
	font-size: 12px;
	letter-spacing: 0;
}

.e6_212 {
	color: rgba(0, 0, 0, 1);
	width: 60.79744338989258px;
	height: 40px;
	position: absolute;
	left: 321.19403076171875px;
	top: 1.4210854715202004e-14px;
	font-family: Inter;
	text-align: center;
	font-size: 12px;
	letter-spacing: 0;
}

.e6_213 {
	color: rgba(0, 0, 0, 1);
	width: 96.35821533203125px;
	height: 40px;
	position: absolute;
	left: 441.64178466796875px;
	top: 1.4210854715202004e-14px;
	font-family: Inter;
	text-align: center;
	font-size: 12px;
	letter-spacing: 0;
}

.e6_214 {
	color: rgba(0, 0, 0, 1);
	width: 723px;
	height: 204px;
	position: absolute;
	left: 278px;
	top: 214px;
	font-family: Krona One;
	text-align: center;
	font-size: 48px;
	letter-spacing: 0;
}

.e6_215 {
	width: 166px;
	height: 48px;
	position: absolute;
	left: 557px;
	top: 507px;
}

.e6_216 {
	background-color: rgba(204.43579405546188, 209.49221312999725, 255, 1);
	width: 166px;
	height: 48px;
	position: absolute;
	left: 0px;
	top: 0px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.e6_217 {
	color: rgba(0, 0, 0, 1);
	width: 117.17646789550781px;
	height: 25px;
	position: absolute;
	left: 24.78732681274414px;
	top: 12px;
	font-family: Actor;
	text-align: center;
	font-size: 20px;
	letter-spacing: 0;
}

.e6_218 {
	width: 27px;
	height: 26.27118682861328px;
	position: absolute;
	left: 1114px;
	top: 59px;
}

.e6_219 {
	color: rgba(37.098055332899094, 23.124392554163933, 197.79516398906708, 1);
	width: 27px;
	height: 26.27118682861328px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Nunito;
	text-align: center;
	font-size: 18px;
	letter-spacing: 0;
}

.6_221 {
	border: 1px solid rgba(231.71630859375, 231.71630859375, 231.71630859375, 1);
}

.e6_221 {
	width: 1280px;
	height: 0px;
	position: absolute;
	left: 0px;
	top: 98px;
}

.e6_222 {
	border-radius: 500px;
	background-image: linear-gradient(0deg, rgba(231, 235, 255, 0.96) 0%, rgb(217, 217, 217) 100%);
	width: 536px;
	height: 536px;
	position: absolute;
	left: 372px;
	top: 150px;
}

.e6_223 {
	width: 538px;
	height: 40px;
	position: absolute;
	left: 371px;
	top: 52px;
}

.e6_224 {
	color: rgba(0, 0, 0, 1);
	width: 55.06183624267578px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Inter;
	text-align: center;
	font-size: 12px;
	letter-spacing: 0;
}

.e6_225 {
	color: rgba(0, 0, 0, 1);
	width: 33.26652526855469px;
	height: 40px;
	position: absolute;
	left: 114.71214294433594px;
	top: 1.4210854715202004e-14px;
	font-family: Inter;
	text-align: center;
	font-size: 12px;
	letter-spacing: 0;
}

.e6_226 {
	color: rgba(0, 0, 0, 1);
	width: 53.914710998535156px;
	height: 40px;
	position: absolute;
	left: 207.6289825439453px;
	top: 1.4210854715202004e-14px;
	font-family: Inter;
	text-align: center;
	font-size: 12px;
	letter-spacing: 0;
}

.e6_227 {
	color: rgba(0, 0, 0, 1);
	width: 60.79744338989258px;
	height: 40px;
	position: absolute;
	left: 321.19403076171875px;
	top: 1.4210854715202004e-14px;
	font-family: Inter;
	text-align: center;
	font-size: 12px;
	letter-spacing: 0;
}

.e6_228 {
	color: rgba(0, 0, 0, 1);
	width: 96.35821533203125px;
	height: 40px;
	position: absolute;
	left: 441.64178466796875px;
	top: 1.4210854715202004e-14px;
	font-family: Inter;
	text-align: center;
	font-size: 12px;
	letter-spacing: 0;
}

.e6_229 {
	color: rgba(0, 0, 0, 1);
	width: 723px;
	height: 204px;
	position: absolute;
	left: 278px;
	top: 214px;
	font-family: Krona One;
	text-align: center;
	font-size: 48px;
	letter-spacing: 0;
}

.e6_230 {
	width: 166px;
	height: 48px;
	position: absolute;
	left: 557px;
	top: 507px;
}

.e6_232 {
	color: rgba(0, 0, 0, 1);
	width: 117.17646789550781px;
	height: 25px;
	position: absolute;
	left: 24.78732681274414px;
	top: 12px;
	text-align: center;
	font-size: 20px;
	letter-spacing: 0;
	background-color: #4c4fea;
	border-radius: 8px;
	border-style: none;
	box-sizing: border-box;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	height: 40px;
	line-height: 20px;
	list-style: none;
	margin: 0;
	outline: none;
	padding: 10px 16px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: color 100ms;
	vertical-align: baseline;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.e6_236 {
	width: 1280px;
	height: 0px;
	position: absolute;
	left: 0px;
	top: 98px;
}

.e6_237 {
	background-color: rgba(233.00000131130219, 235.0000011920929, 248.0000004172325, 1);
	width: 410px;
	height: 233px;
	position: absolute;
	left: 186px;
	top: 1316px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.e6_238 {
	background-color: rgba(233.00000131130219, 235.0000011920929, 248.0000004172325, 1);
	width: 402px;
	height: 233px;
	position: absolute;
	left: 692px;
	top: 990px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.e6_239 {
	background-color: rgba(233.00000131130219, 235.0000011920929, 248.0000004172325, 1);
	width: 402px;
	height: 233px;
	position: absolute;
	left: 692px;
	top: 1316px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.e6_240 {
	width: 410px;
	height: 233px;
	position: absolute;
	left: 186px;
	top: 990px;
}

.e6_241 {
	background-color: rgba(233.00000131130219, 235.0000011920929, 248.0000004172325, 1);
	width: 410px;
	height: 233px;
	position: absolute;
	left: 0px;
	top: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.e6_242 {
	width: 362px;
	height: 173px;
	position: absolute;
	left: 24px;
	top: 19px;
}

.e6_243 {
	color: rgba(0, 0, 0, 1);
	width: 213px;
	height: 25px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Scada;
	text-align: center;
	font-size: 20px;
	letter-spacing: 0;
}

.e6_244 {
	color: rgba(0, 0, 0, 1);
	width: 58px;
	height: 20px;
	position: absolute;
	left: 4px;
	top: 35px;
	font-family: Scada;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0;
}

.e6_245 {
	color: rgba(0, 0, 0, 1);
	width: 61px;
	height: 20px;
	position: absolute;
	left: 97px;
	top: 35px;
	font-family: Scada;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0;
}

.e6_246 {
	color: rgba(0, 0, 0, 1);
	width: 358px;
	height: 80px;
	position: absolute;
	left: 4px;
	top: 93px;
	font-family: Scada;
	text-align: justified;
	font-size: 16px;
	letter-spacing: 0;
}

.e6_247 {
	width: 363px;
	height: 173px;
	position: absolute;
	left: 712px;
	top: 1009px;
}

.e6_248 {
	color: rgba(0, 0, 0, 1);
	width: 182px;
	height: 25px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Scada;
	text-align: center;
	font-size: 20px;
	letter-spacing: 0;
}

.e6_249 {
	color: rgba(0, 0, 0, 1);
	width: 58px;
	height: 20px;
	position: absolute;
	left: 5px;
	top: 35px;
	font-family: Scada;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0;
}

.e6_250 {
	color: rgba(0, 0, 0, 1);
	width: 61px;
	height: 20px;
	position: absolute;
	left: 98px;
	top: 35px;
	font-family: Scada;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0;
}

.e6_251 {
	color: rgba(0, 0, 0, 1);
	width: 358px;
	height: 80px;
	position: absolute;
	left: 5px;
	top: 93px;
	font-family: Scada;
	text-align: justified;
	font-size: 16px;
	letter-spacing: 0;
}

.e6_252 {
	width: 361px;
	height: 183px;
	position: absolute;
	left: 211px;
	top: 1335px;
}

.e6_253 {
	color: rgba(0, 0, 0, 1);
	width: 158px;
	height: 25px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Scada;
	text-align: center;
	font-size: 20px;
	letter-spacing: 0;
}

.e6_254 {
	color: rgba(0, 0, 0, 1);
	width: 58px;
	height: 20px;
	position: absolute;
	left: 3px;
	top: 35px;
	font-family: Scada;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0;
}

.e6_255 {
	color: rgba(0, 0, 0, 1);
	width: 61px;
	height: 20px;
	position: absolute;
	left: 96px;
	top: 35px;
	font-family: Scada;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0;
}

.e6_256 {
	color: rgba(0, 0, 0, 1);
	width: 358px;
	height: 100px;
	position: absolute;
	left: 3px;
	top: 83px;
	font-family: Scada;
	text-align: justified;
	font-size: 16px;
	letter-spacing: 0;
}

.e6_257 {
	width: 361px;
	height: 173px;
	position: absolute;
	left: 713px;
	top: 1335px;
}

.e6_258 {
	color: rgba(0, 0, 0, 1);
	width: 110px;
	height: 25px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Scada;
	text-align: center;
	font-size: 20px;
	letter-spacing: 0;
}

.e6_259 {
	color: rgba(0, 0, 0, 1);
	width: 58px;
	height: 20px;
	position: absolute;
	left: 3px;
	top: 35px;
	font-family: Scada;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0;
}

.e6_260 {
	color: rgba(0, 0, 0, 1);
	width: 61px;
	height: 20px;
	position: absolute;
	left: 96px;
	top: 35px;
	font-family: Scada;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0;
}

.e6_261 {
	color: rgba(0, 0, 0, 1);
	width: 358px;
	height: 80px;
	position: absolute;
	left: 3px;
	top: 93px;
	font-family: Scada;
	text-align: justified;
	font-size: 16px;
	letter-spacing: 0;
}

.e6_262 {
	color: rgba(0, 0, 0, 1);
	width: 647px;
	height: 44px;
	position: absolute;
	left: 317px;
	top: 1824px;
	font-family: Inter;
	text-align: center;
	font-size: 36px;
	letter-spacing: 0;
}

.e6_263 {
	background-color: rgba(247.77002155780792, 248.05921643972397, 255, 1);
	width: 165px;
	height: 93px;
	position: absolute;
	left: 372px;
	top: 1919px;
}

.e6_264 {
	background-color: rgba(247.77002155780792, 248.05921643972397, 255, 1);
	width: 165px;
	height: 93px;
	position: absolute;
	left: 559px;
	top: 1919px;
}

.e6_265 {
	background-color: rgba(247.77002155780792, 248.05921643972397, 255, 1);
	width: 165px;
	height: 93px;
	position: absolute;
	left: 745px;
	top: 1919px;
}

.e6_266 {
	background-color: rgba(247.77002155780792, 248.05921643972397, 255, 1);
	width: 165px;
	height: 93px;
	position: absolute;
	left: 373px;
	top: 2053px;
}

.e6_267 {
	background-color: rgba(247.77002155780792, 248.05921643972397, 255, 1);
	width: 165px;
	height: 93px;
	position: absolute;
	left: 560px;
	top: 2053px;
}

.e6_268 {
	background-color: rgba(247.77002155780792, 248.05921643972397, 255, 1);
	width: 165px;
	height: 93px;
	position: absolute;
	left: 746px;
	top: 2053px;
}

.e6_269 {
	background-color: rgba(247.77002155780792, 248.05921643972397, 255, 1);
	width: 165px;
	height: 93px;
	position: absolute;
	left: 372px;
	top: 2187px;
}

.e6_270 {
	background-color: rgba(247.77002155780792, 248.05921643972397, 255, 1);
	width: 165px;
	height: 93px;
	position: absolute;
	left: 559px;
	top: 2194px;
}

.e6_271 {
	background-color: rgba(247.77002155780792, 248.05921643972397, 255, 1);
	width: 165px;
	height: 93px;
	position: absolute;
	left: 750px;
	top: 2187px;
}

.e6_272 {
	background-color: rgba(247.77002155780792, 248.05921643972397, 255, 1);
	width: 165px;
	height: 93px;
	position: absolute;
	left: 372px;
	top: 2321px;
}

.e6_273 {
	background-color: rgba(247.77002155780792, 248.05921643972397, 255, 1);
	width: 165px;
	height: 93px;
	position: absolute;
	left: 559px;
	top: 2321px;
}

.e6_274 {
	background-color: rgba(247.77002155780792, 248.05921643972397, 255, 1);
	width: 165px;
	height: 93px;
	position: absolute;
	left: 745px;
	top: 2321px;
}

.e6_275 {
	width: 60.71428680419922px;
	height: 40px;
	position: absolute;
	left: 611px;
	top: 1946px;
	background-image: url(images/image_14.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e6_276 {
	width: 91.57894897460938px;
	height: 40px;
	position: absolute;
	left: 758px;
	top: 1946px;
	background-image: url(images/image_16.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e6_277 {
	width: 110.4000015258789px;
	height: 40px;
	position: absolute;
	left: 387px;
	top: 1946px;
	background-image: url(images/image_16.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e6_278 {
	width: 96.17021179199219px;
	height: 40px;
	position: absolute;
	left: 385px;
	top: 2080px;
	background-image: url(images/image_17.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e6_279 {
	width: 142.22222900390625px;
	height: 40px;
	position: absolute;
	left: 571px;
	top: 2080px;
	background-image: url(images/image_18.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e6_280 {
	width: 132.44444274902344px;
	height: 40px;
	position: absolute;
	left: 762px;
	top: 2080px;
	background-image: url(images/image_19.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e6_281 {
	width: 120px;
	height: 40px;
	position: absolute;
	left: 387px;
	top: 2214px;
	background-image: url(images/image_20.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e6_282 {
	width: 120.76923370361328px;
	height: 40px;
	position: absolute;
	left: 581px;
	top: 2221px;
	background-image: url(images/image_21.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e6_283 {
	width: 138.3333282470703px;
	height: 40px;
	position: absolute;
	left: 764px;
	top: 2214px;
	background-image: url(images/image_22.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e6_284 {
	width: 138.3333282470703px;
	height: 40px;
	position: absolute;
	left: 385px;
	top: 2348px;
	background-image: url(images/image_23.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e6_285 {
	width: 138.3333282470703px;
	height: 40px;
	position: absolute;
	left: 758px;
	top: 2348px;
	background-image: url(images/image_24.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e6_286 {
	width: 138.3333282470703px;
	height: 40px;
	position: absolute;
	left: 572px;
	top: 2348px;
	background-image: url(images/image_25.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e6_287 {
	background-color: rgba(247.77002155780792, 248.05921643972397, 255, 1);
	width: 1280px;
	height: 343px;
	position: absolute;
	left: 0px;
	top: 2642px;
}

.e6_288 {
	color: rgba(0, 0, 0, 1);
	width: 621px;
	height: 180px;
	position: absolute;
	left: 329px;
	top: 2746px;
	font-family: Inter;
	text-align: justified;
	font-size: 15px;
	letter-spacing: 0;
}

.e6_289 {
	color: rgba(0, 0, 0, 1);
	width: 68px;
	height: 116px;
	position: absolute;
	left: 329px;
	top: 2667px;
	font-family: Inter;
	text-align: justified;
	font-size: 96px;
	letter-spacing: 0;
}

.e6_290 {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	width: 162px;
	height: 121px;
	position: absolute;
	left: 869px;
	top: 2932px;
	background-image: url(images/image_15.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.6_290 {
	border: 0px solid rgba(0, 0, 0, 1);
}

.e6_291 {
	color: rgba(0, 0, 0, 1);
	width: 121px;
	height: 36px;
	position: absolute;
	left: 723px;
	top: 3017px;
	text-align: justified;
	font-size: 15px;
	letter-spacing: 0;
}

.e6_346 {
	display: flex;
    justify-content: center; /* Horizontally center aligns the content */
    align-items: center; /* Vertically center aligns the content */
	width: 511px;
	height: 283px;
	position: absolute;
	left: 385px;
	top: 3187px;
}
.text-center {
	text-align: center;
}

.e6_325 {
	color: rgba(0, 0, 0, 1);
	width: 273px;
	height: 24px;
	position: absolute;
	left: 88px;
	top: 0px;
	font-family: Inter;
	text-align: center;
	font-size: 20px;
	letter-spacing: 0;
}

.e6_326 {
	width: 35px;
	height: 35px;
	position: absolute;
	left: 475px;
	top: 71px;
}

.e6_327 {
	background-color: rgba(166.75023704767227, 170.28044521808624, 255, 1);
	width: 35px;
	height: 35px;
	position: absolute;
	left: 0px;
	top: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.e6_328 {
	transform: rotate(90deg);
	width: 12px;
	height: 0px;
	position: absolute;
	left: 18px;
	top: 12px;
}

.6_328 {
	border: 2px solid rgba(0, 0, 0, 1);
}

.e6_329 {
	width: 35px;
	height: 35px;
	position: absolute;
	left: 476px;
	top: 129px;
}

.e6_330 {
	background-color: rgba(166.75023704767227, 170.28044521808624, 255, 1);
	width: 35px;
	height: 35px;
	position: absolute;
	left: 0px;
	top: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.e6_331 {
	transform: rotate(90deg);
	width: 12px;
	height: 0px;
	position: absolute;
	left: 18px;
	top: 12px;
}

.6_331 {
	border: 2px solid rgba(0, 0, 0, 1);
}

.e6_332 {
	width: 35px;
	height: 35px;
	position: absolute;
	left: 475px;
	top: 187px;
}

.e6_333 {
	background-color: rgba(166.75023704767227, 170.28044521808624, 255, 1);
	width: 35px;
	height: 35px;
	position: absolute;
	left: 0px;
	top: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.e6_334 {
	transform: rotate(90deg);
	width: 12px;
	height: 0px;
	position: absolute;
	left: 18px;
	top: 12px;
}

.6_334 {
	border: 2px solid rgba(0, 0, 0, 1);
}

.e6_335 {
	width: 35px;
	height: 35px;
	position: absolute;
	left: 476px;
	top: 248px;
}

.e6_336 {
	background-color: rgba(166.75023704767227, 170.28044521808624, 255, 1);
	width: 35px;
	height: 35px;
	position: absolute;
	left: 0px;
	top: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.e6_337 {
	transform: rotate(90deg);
	width: 12px;
	height: 0px;
	position: absolute;
	left: 18px;
	top: 12px;
}

.6_337 {
	border: 2px solid rgba(0, 0, 0, 1);
}

.e6_338 {
	transform: rotate(0.3688518737352266deg);
	width: 454.0099182128906px;
	height: 0px;
	position: absolute;
	left: 0px;
	top: 103px;
}

.6_338 {
	border: 1px solid rgba(209.11328226327896, 209.11328226327896, 209.11328226327896, 1);
}

.e6_339 {
	transform: rotate(0.3688518737352266deg);
	width: 454.0099182128906px;
	height: 0px;
	position: absolute;
	left: 0px;
	top: 161px;
}

.6_339 {
	border: 1px solid rgba(209.11328226327896, 209.11328226327896, 209.11328226327896, 1);
}

.e6_340 {
	transform: rotate(0.3688518737352266deg);
	width: 454.0099182128906px;
	height: 0px;
	position: absolute;
	left: 0px;
	top: 219px;
}

.6_340 {
	border: 1px solid rgba(209.11328226327896, 209.11328226327896, 209.11328226327896, 1);
}

.e6_341 {
	transform: rotate(0.3688518737352266deg);
	width: 454.0099182128906px;
	height: 0px;
	position: absolute;
	left: 0px;
	top: 280px;
}

.6_341 {
	border: 1px solid rgba(209.11328226327896, 209.11328226327896, 209.11328226327896, 1);
}

.e6_342 {
	color: rgba(0, 0, 0, 1);
	width: 374px;
	height: 13px;
	position: absolute;
	left: 0px;
	top: 88px;
	font-family: Inter;
	text-align: center;
	font-size: 11px;
	letter-spacing: 0;
}

.e6_343 {
	color: rgba(0, 0, 0, 1);
	width: 374px;
	height: 13px;
	position: absolute;
	left: 0px;
	top: 146px;
	font-family: Inter;
	text-align: center;
	font-size: 11px;
	letter-spacing: 0;
}

.e6_344 {
	color: rgba(0, 0, 0, 1);
	width: 374px;
	height: 13px;
	position: absolute;
	left: 0px;
	top: 204px;
	font-family: Inter;
	text-align: center;
	font-size: 11px;
	letter-spacing: 0;
}

.e6_345 {
	color: rgba(0, 0, 0, 1);
	width: 374px;
	height: 13px;
	position: absolute;
	left: 0px;
	top: 265px;
	font-family: Inter;
	text-align: center;
	font-size: 11px;
	letter-spacing: 0;
}

.e15_497 {
	width: 124px;
	height: 44px;
	position: absolute;
	left: 110px;
	top: 46px;
}

.e15_498 {
	border-radius: 500px;
	background-color: rgba(204.43579405546188, 209.49221312999725, 255, 1);
	width: 44px;
	height: 44px;
	position: absolute;
	left: 25px;
	top: 0px;
}

.e15_499 {
	border-radius: 500px;
	background-color: rgba(204.43579405546188, 209.49221312999725, 255, 0.38999998569488525);
	width: 44px;
	height: 44px;
	position: absolute;
	left: 47px;
	top: 0px;
}

.e15_500 {
	width: 124px;
	height: 24px;
	position: absolute;
	left: 0px;
	top: 10px;
	font-family: Inter;
	text-align: center;
	font-size: 20px;
	letter-spacing: 0;
}

.e6_292 {
	width: 1280px;
	height: 343px;
	position: absolute;
	left: 0px;
	top: 3606px;
}

.e6_293 {
	color: rgba(255, 255, 255, 1);
	width: 87px;
	height: 15px;
	position: absolute;
	left: 949px;
	top: 3875px;
	font-family: Inter;
	text-align: center;
	font-size: 12px;
	letter-spacing: 0;
}

.e6_294 {
	color: rgba(255, 255, 255, 1);
	width: 83px;
	height: 15px;
	position: absolute;
	left: 1115px;
	top: 3875px;
	font-family: Inter;
	text-align: center;
	font-size: 12px;
	letter-spacing: 0;
}

.e6_295 {
	color: rgba(255, 255, 255, 1);
	width: 127px;
	height: 15px;
	position: absolute;
	left: 743px;
	top: 3875px;
	font-family: Inter;
	text-align: center;
	font-size: 12px;
	letter-spacing: 0;
}

.e6_296 {
	color: rgba(255, 255, 255, 1);
	width: 87px;
	height: 15px;
	position: absolute;
	left: 371px;
	top: 3692px;
	font-family: Inter;
	text-align: center;
	font-size: 12px;
	letter-spacing: 0;
}

.e6_297 {
	color: rgba(255, 255, 255, 1);
	width: 75px;
	height: 15px;
	position: absolute;
	left: 371px;
	top: 3727px;
	font-family: Inter;
	text-align: center;
	font-size: 12px;
	letter-spacing: 0;
}

.e6_298 {
	color: rgba(255, 255, 255, 1);
	width: 50px;
	height: 15px;
	position: absolute;
	left: 371px;
	top: 3762px;
	font-family: Inter;
	text-align: center;
	font-size: 12px;
	letter-spacing: 0;
}

.e14_494 {
	color: rgba(255, 255, 255, 1);
	width: 50px;
	height: 15px;
	position: absolute;
	left: 198px;
	top: 3695px;
	font-family: Inter;
	text-align: center;
	font-size: 12px;
	letter-spacing: 0;
}

.e14_495 {
	color: rgba(255, 255, 255, 1);
	width: 37px;
	height: 15px;
	position: absolute;
	left: 198px;
	top: 3730px;
	font-family: Inter;
	text-align: center;
	font-size: 12px;
	letter-spacing: 0;
}

.e14_496 {
	color: rgba(255, 255, 255, 1);
	width: 50px;
	height: 15px;
	position: absolute;
	left: 198px;
	top: 3765px;
	font-family: Inter;
	text-align: center;
	font-size: 12px;
	letter-spacing: 0;
}

.e6_299 {
	background-color: rgba(209.11328226327896, 209.11328226327896, 209.11328226327896, 1);
	width: 250px;
	height: 50px;
	position: absolute;
	left: 686px;
	top: 3695px;
	border-radius: 179px;
}

.e6_300 {
	background-color: rgba(166.75023704767227, 170.28044521808624, 255, 1);
	width: 137px;
	height: 50px;
	position: absolute;
	left: 851px;
	top: 3695px;
	border-radius: 179px;
}

.e6_301 {
	color: rgba(35.76919063925743, 37.16986767947674, 70.784912109375, 0.30000001192092896);
	width: 120px;
	height: 18px;
	position: absolute;
	left: 713px;
	top: 3711px;
	font-family: Inter;
	text-align: center;
	font-size: 15px;
	letter-spacing: 0;
}

.e6_302 {
	color: rgba(35.76919063925743, 37.16986767947674, 70.784912109375, 0.7599999904632568);
	width: 75px;
	height: 18px;
	position: absolute;
	left: 882px;
	top: 3711px;
	font-family: Inter;
	text-align: center;
	font-size: 15px;
	letter-spacing: 0;
	border-style: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

.footer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	background: #10182F;
	border-radius: 6px;
}

.footer .footer-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 3.5rem;
	padding: 60px;
}

.footer-row .footer-col h4 {
	color: #fff;
	font-size: 1.2rem;
	font-weight: 400;
}

.footer-col .links {
	margin-top: 20px;
}

.footer-col .links li {
	list-style: none;
	margin-bottom: 10px;
}

.footer-col .links li a {
	text-decoration: none;
	color: #bfbfbf;
}

.footer-col .links li a:hover {
	color: #fff;
}

.footer-col p {
	margin: 20px 0;
	color: #bfbfbf;
	max-width: 300px;
}

.footer-col form {
	display: flex;
	gap: 5px;
}

.footer-col input {
	height: 40px;
	border-radius: 6px;
	background: none;
	width: 100%;
	outline: none;
	border: 1px solid #7489C6;
	caret-color: #fff;
	color: #fff;
	padding-left: 10px;
}

.footer-col input::placeholder {
	color: #ccc;
}

.footer-col form button {
	background: #fff;
	outline: none;
	border: none;
	padding: 10px 15px;
	border-radius: 6px;
	cursor: pointer;
	font-weight: 500;
	transition: 0.2s ease;
}

.footer-col form button:hover {
	background: #cecccc;
}

.footer-col .icons {
	display: flex;
	margin-top: 30px;
	gap: 30px;
	cursor: pointer;
}

.footer-col .icons i {
	color: #afb6c7;
}

.footer-col .icons i:hover {
	color: #fff;
}

@media (max-width: 768px) {
	.footer {
		position: relative;
		bottom: 0;
		left: 0;
		transform: none;
		width: 100%;
		border-radius: 0;
	}

	.footer .footer-row {
		padding: 20px;
		gap: 1rem;
	}

	.footer-col form {
		display: block;
	}

	.footer-col form :where(input, button) {
		width: 100%;
	}

	.footer-col form button {
		margin: 10px 0 0 0;
	}
}

.Button_onlyIcon__5MqkM {
    --border-radius: 0.25rem;
}

.LogoItem_wrapper__QNn0k {
    border-radius: 4px;
    background-color: #fafbfd;
    overflow: hidden;
	margin-top: 25;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    padding: 0;
    margin: 0;
    font: inherit;
    vertical-align: baseline;
    border: 0;
}